<nav class="top-bar" data-topbar role="navigation">
	<ul class="title-area">
		<li class="name">
			<h1>Twitstagram</h1>
		</li>
	</ul>
		<section class="top-bar-section">
			<ul class="left">
				<li class="has-dropdown not-click"> <a href="#">Posts</a>
					<ul class="dropdown">
						<li class="parent-link show-for-small-only"> <a class="parent-link js-generated" href="#">Posts</a> </li>
						<li> <label>Posts</label> </li>
						<li> <%= link_to 'Ver', controller: '/posts', action: 'index' %> </li>
						<% if user_signed_in? %>
						<li> <%= link_to 'Nuevo', controller: '/posts', action: 'new' %> </li>
						<% end %>
					</ul>
				</li>
			<li class="divider"> </li>
			</ul>

			<ul class='right'>
        		<% if user_signed_in? %>
        			<li class="active"><a href="#">Logged in as <strong><%= current_user.email %></strong></a></li>
           			<li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
            		<li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %></li>
        		<% else %>
        				<% if admin_signed_in? %>
        			<li class="active"><a href="#">Logged in as <strong><%= current_admin.email %></strong></a></li>
           			<li><%= link_to 'Edit profile', edit_admin_registration_path, :class => 'navbar-link' %></li>
            		<li><%= link_to "Logout", destroy_admin_session_path, method: :delete, :class => 'navbar-link' %></li>
        				<% else %>
            		<li><% link_to "Sign up as Admin", new_admin_registration_path, :class => 'navbar-link' %></li>
            		<li><% link_to "Login as Admin", new_admin_session_path, :class => 'navbar-link' %></li>
            			<% end %>
            		<% if !admin_signed_in? %>
            		<li><%= link_to "Sign up as User", new_user_registration_path, :class => 'navbar-link' %></li>
            		<li><%= link_to "Login as User", new_user_session_path, :class => 'navbar-link' %></li>
            		<% end %>
            	<% end %>
 
            		
            </ul>
		</section>
</nav>