
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<div id="comments" class='medium-6 colums'>
	<%= render :partial => @post.comments.reverse %>
</div>

<%= form_for([@post,Comment.new],remote: true) do |f| %>
	<p class='large-10 columns'> <%= f.label :body, "New Comment" %> <br/>
		<%= f.text_area :body %>
	</p>
	<br/>
	<p> <%= f.submit "Add Comment", :class => 'button tiny success radius' %> </p>

<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
